@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Popins', sans-serif;
    display: flex;
    flex-direction: column; /* Cambio importante */
    min-height: 100vh; /* Ocupa toda la altura de la ventana */
    background-image: url("./assets/img/background.jpg");
    /*filter: blur(3px); /* Aplica un ligero desenfoque */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}




   
 